.navbar {
    background: linear-gradient(180deg, #519bfb, #6294d1c9);  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    width: 20em;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
}

.navbar-brand {
    font-size: 1.4rem;
    font-family: "Macondo Swash Caps", serif;
    color: black;
}

.navbar-brand:hover {
    color: white;
    text-shadow: 0 0 7px whitesmoke;
}

.nav-link {
    display: flex;
    margin-right: 2.8em;
    color: #ffffff;
    justify-content: space-evenly;
}

.nav-link-active {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0.8em;
    color: black;
}

.navbar-toggler {
    font-size: 0.7em;
    padding: 0.3em;
    align-content: right;
    justify-content: right;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

ul a {
    color: #ffffff
}

@media (min-width: 425px) {
    .navbar-nav {
        width: 25em;

    }
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        justify-content: right;
        align-items: right;
        width: 100%;
    }
}