.champions-img {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    margin: 0.5em auto;
}

.galleryTitle {
    font-family: 'Permanent Marker', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    margin-top: 1em;
    margin-bottom: 0.8em;
}

.gallerySubtitle {
    font-family:Georgia, 'Times New Roman', Times, serif
}

.campeon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.gallery-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 1em;
}

.previousArrow:hover, .nextArrow:hover {
    transform: scale(1.18);
    transition: 0.3s;
    cursor: pointer;
}

.champions{
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(54, 54, 98, 0.9);
    margin: 1em auto;
}  

.champions:hover{
    transform: scale(1.1);
    transition: 1.3s;
}

.playerName {
    margin-top: 0.5em;
    font-family: 'Happy Monkey';
    font-weight: bold;
    font-style: italic;
}

#getInfo { 
    margin: 1em;
}
.champions-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0.8em;
    border: 2px solid #3299cc;
    padding: 0.5em;
}

.info-btn {
    border-radius: 5px;
    border: none;
    color: #f9f9f9;
    background: #3299cc;
    font-weight: 500;
    margin: 1em;
    padding: 0.4em; 
}

.info-btn:hover {
    background: #2c6f91;
    border-radius: 7px;
    transition: 0.3s;
}