#learn-info {
    font-weight: 400;
    font-size: clamp(1em, 2vw, 1.3em);
    margin: 1.5em auto;
    line-height: 1.5;
}

.engineFeature {
    margin: 0.8em;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.instructions {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    width: min(90%, 45em);
    text-align: left;
    margin: 0 auto;
    gap: 0.5em;
}

.engine-datacontainer {
    display: flex;
    flex-direction: column;
    width: min(90%, 80em);
    align-items: center;
    margin: 0 auto;
    gap: 0.5em;
}

.code {
    font-weight: 500;
}

.fen {
    text-align: center;
    width: min(90%, 38em);
    padding: 0.5em;
}

#chessboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.board-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    width: 100%;
    gap: 1em;
}

.boardBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    margin: 1em 0;
}

.startBtn, .flipBtn, .undoBtn {
    border-radius: 5px;
    font-weight: 400;
    background: #1a1e22;
    color: white;
    padding: 0.5em 1em;
    transition: background 0.3s ease;
}

.startBtn:hover, .flipBtn:hover, .undoBtn:hover {
    background: #76a4e8;
}

.calculating {
    color: rgb(42, 19, 117);
    font-weight: 500;
}

.textAnalysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90%, 40em);
    margin: 0.8em auto;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: rgb(42, 19, 117);
    padding: 1em;
    border: 1px solid rgb(42, 19, 117);
}

.interpretation {
    margin-top: 1.3em;
    width: min(90%, 77%);
    margin: 1.3em auto 0;
}

.list-interpretation {
    width: min(90%, 67%);
    margin: 0 auto;
}

.list-interpretation li {
    margin-top: 1em;
    text-align: left;
}

.interButton {
    border: none;
    background: transparent;
    cursor: pointer;
}

.arrowDown {
    animation: bounce 1.5s infinite;
    transform: rotate(30deg);
}

@keyframes bounce {
    0%, 40%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

@media (min-width: 768px) {
    .board-controls-container {
        flex-direction: column;
        justify-content: left;
        gap: 2em;
    }

    .boardBtns {
        flex-direction: row;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .list-interpretation {
        padding: 0 2em;
    }
}