.btn-dark, .btn-light {
    all: unset;
    margin-right: 1em;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .btn-dark, .btn-light {
        display: block;
        margin-right: 1em;
    }
}

@media screen and (max-width: 425px) {
    .btn-dark, .btn-light {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left:10em;
    }
}