body {
  background-color: rgb(219, 207, 205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  transition: background-color 0.7s;
}

body.dark-mode {
  background-color: rgb(51, 48, 48);
  color: white;
}

.home-container { 
    position: relative;
    min-height: 100vh;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeat url("../../img/background1.png");
    background-position: left;
    opacity: 0.75;
    z-index: -1;
}

.App .productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .App .productsContainer {
      width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .App .productsContainer {
      width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .App .productsContainer {
      width: 60%;
  }
}