.mate-practice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em auto;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
}

.introMsg {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0.5em auto;
}

.problemInfo {
    display: flex;
    flex-direction: column;
}

.problemDescription {
    margin-top: 1em;
}

.difficultyRank {
    margin-bottom: 0.4em;
}

#chessboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 2em;
}

@keyframes borderPulse {
    0% { border-bottom: 2px solid rgba(223, 90, 90, 1); }
    50% { border-bottom: 2px solid rgba(223, 90, 90, 0.2); }
    100% { border-bottom: 2px solid rgba(223, 90, 90, 1); }
}

@keyframes textSlide {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.hints {
    display: flex;
    font-weight: 400;
    flex-direction: row;
    color: --textColor;
    border-bottom: 2px solid rgb(223, 90, 90);
    border-radius: 3px 5px;
    padding: 0.3em;
    line-height: 1.2em;
    animation: 
        borderPulse 3s infinite ease-in-out,
        textSlide 1s ease-out;
}

.next-button {
    margin-top: 1em;
    margin-bottom: 2.5em;
    width: 12em;
    padding: 8px;
    background-color: #ff0044;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #ff0025;
    width: 12.5em;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.4s;
}

.ratingStars svg {
    color: gold;
    stroke: #ff9944; 
  }